import init.gps.rc

on boot
    # SEC_PRODUCT_FEATURE_COMMON_USE_MULTISIM
    setprop ro.multisim.simslotcount 1

on fs
# 2nd RIL
service ril-daemon1 /system/bin/rild -l /system/lib64/libsec-ril-dsds.so -c 2
    class main
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log
    disabled

# IPSec for VOLTE
    chown root system /dev/socket
    chmod 0775 /dev/socket

# IPSec for VOLTE
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin

#SLocation
service cellgeofenced /system/bin/cellgeofenced
    class main
    socket cellgeofence seqpacket 0660 gps system
    user gps
    group system inet

on property:sys.usb.config=adb
    write /sys/module/link_device_pm/parameters/cp_hold_time 100

on property:sys.usb.config=mtp
    write /sys/module/link_device_pm/parameters/cp_hold_time 100

on property:sys.usb.config=mtp,adb
    write /sys/module/link_device_pm/parameters/cp_hold_time 100

on property:sys.usb.config=rndis
    write /sys/module/link_device_pm/parameters/cp_hold_time 1000

on property:sys.usb.config=rndis,adb
    write /sys/module/link_device_pm/parameters/cp_hold_time 1000

on property:sys.usb.config=ncm
    write /sys/module/link_device_pm/parameters/cp_hold_time 100

on property:sys.usb.config=ncm,adb
    write /sys/module/link_device_pm/parameters/cp_hold_time 100

on property:sys.usb.config=ptp
    write /sys/module/link_device_pm/parameters/cp_hold_time 100

on property:sys.usb.config=ptp,adb
    write /sys/module/link_device_pm/parameters/cp_hold_time 100

on property:sys.usb.config=rndis,dm
    write /sys/module/link_device_pm/parameters/cp_hold_time 1000

on property:sys.usb.config=rndis,acm,dm
    write /sys/module/link_device_pm/parameters/cp_hold_time 1000

on property:sys.usb.config=rndis,acm,dm,adb
    write /sys/module/link_device_pm/parameters/cp_hold_time 1000

on property:sys.usb.config=acm,dm,adb
    write /sys/module/link_device_pm/parameters/cp_hold_time 100
# SIMLock Daemon
on property:sys.mobicoredaemon.enable=true
	start tsdaemon
	service tsdaemon /system/bin/tsdaemon
	class core
	user system
	group system
        oneshot
	disabled
