#!/system/bin/sh

cat << CTAG
{
    name:NETWORK,
    elements:[
    	{ SPane:{
		title:"Save WiFi Passwords",
		description:" Save your WiFi Passowords under /sdcard/hackerkernel."
    	}},
	{ SDescription:{
		description:""
	}},
	{ SButton:{
		label:"Save WiFi Passwords",
		action:"network wifi_passwords"
	}},
	{ SDescription:{
		description:""
	}},
	{ SButton:{
		label:"Restore WiFi Passwords",
		action:"network wifi_passwords_restore"
	}},
	{ SDescription:{
		description:""
	}},
	{ SSpacer:{
		height:1
	}},
	{ SPane:{
		title:"TCP Congestion Control",
		description:" Select your preferred WIFI TCP algorithm. Regulates upload and download affecting throughput in various ways. Default is Westwood+."
    	}},
	{ SSpacer:{
		height:1
	}},
	{ SOptionList:{
		default:`cat proc/sys/net/ipv4/tcp_congestion_control`,
		action:"generic proc/sys/net/ipv4/tcp_congestion_control",
		values:[`while read values; do busybox printf "%s, \n" $values; done < proc/sys/net/ipv4/tcp_available_congestion_control`]
	}},
	{ SSpacer:{
		height:1
	}},
        { SPane:{
                title:"Wakelock control",
                description:"Enter 1 to 8 (1 = stock, higher = lower wake time) for wlan_rx and wlan_ctrl wakelock control."
        }},
	{ SSpacer:{
		height:1
	}},
        { SSeekBar:{
                title:"Wireless wakelock timeout control",
                description:"",
                unit:"",
                min:1,
                max:8,
                step:1,
                default:`cat /sys/module/dhd/parameters/wl_divide`,
                action:"generic /sys/module/dhd/parameters/wl_divide"
        }},
	{ SSpacer:{
		height:1
	}},
	{ SPane:{
		title:"TCP/IP Network Security Tweak",
		description:" Protect against SYN & DoS attack etc. Default is Disabled."
	}},
	{ SSpacer:{
		height:1
	}},
	{ SOptionList:{
		default:`echo $(/res/synapse/actions/network tcp_security)`,
		action:"network tcp_security",
		values:[Disabled, Enabled,]
	}},
	{ SSpacer:{
		height:1
	}},
	{ SPane:{
		title:"3G DNS Tweaks",
		description:" Allows you to set the default DNS (Domain Name System) for 3G connections. Use this to potentially speed up your browsing experience (depending on DNS location) and improve your security. Default is Disabled.",
	}},
	{ SSpacer:{
		height:1
	}},
	{ SDescription:{
		description:" * You must have a mobile data network connection before applying new DNS *"
	}},
	{ SSpacer:{
		height:1
	}},
	{ SOptionList:{
		default:`echo $(/res/synapse/actions/network dns)`,
		action:"network dns",
		values:[Disabled, Google, OpenDNS, Comodo, Level3, Norton_DNS, Smart_Viper,]
	}},
	{ SSpacer:{
		height:1
	}},
    ]
}
CTAG
